/* Resetting default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(2kbackground.png);
    color: #333;
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 0px 5px 0px gray;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: wheat;
}

.form {
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 0px 10px 0px gray;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: wheat;
    text-shadow: 0 1px 0   black;
    text-transform: uppercase;
    text-decoration: underline;
}

.form select,
.form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}

.form button {
    display: block;
    background-color: black;
    width: 100%;
    padding: 15px;
    color: wheat;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    color: black;
    background-color: wheat;
}

.summary {
    color: wheat;
    margin-top: 30px;
    padding: 30px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 1em
}

.summary h2 {
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 2em;
    color: wheat;
}

.summary p {
    margin-bottom: 10px;
    font-size: 1em;
    color: wheat
}

ul{
    list-style: none;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
        padding: 15px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .form {
        padding: 20px;
    }
    
    .form label {
        font-size: 16px;
    }
    
    .form select,
    .form input[type="number"] {
        padding: 8px;
        font-size: 14px;
    }
    
    .form button {
        padding: 12px;
        font-size: 16px;
    }
    
    .summary {
        font-size: 1em;
        padding: 20px;
    }
    
    .summary h2 {
        text-decoration: underline;
        font-size: 1.5em;
    }
    
    .summary p {
        text-decoration: underline;
        font-size: 1em;
    }
}
